.portfolio-navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    height: 80px;
    position: sticky;
    color: white;
}

.portfolio-navbar-lsection {
    display: grid;
    align-items: center;
}

.portfolio-navbar-logo {
    padding: 15px;
    padding-left: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1.5px;
}


.portfolio-navbar-rsection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.portfolio-navbar-link {
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .3s;
}

.portfolio-navbar-link:hover {
    color: dodgerblue;
}